body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*Hide scroll bar, but while still being able to scroll for IE and Firefox*/
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;
}

/*Hide scroll bar, but while still being able to scroll for Chrome*/
body::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
